<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeStyle</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    <head>
        <div class="header">
            <div class="header-inner">
                <div class="container">
                    <div class="header-inner__title">
                        <h1>CoffeStyle</h1>
                    </div>
                    <div class="header-inner__menu">
                        <ul>
                            <li>Home</li>
                            <li>Our Products</li>
                            <li>Blog</li>
                            <li>About</li>
                            <li>Contact</li>
                            <li>Styleguide</li>
                        </ul>
                    </div>
                    <div class="header-inner__basket">
                        <div class="header-inner__basket cart__image">
                            <img src="./img/basket.png" alt="photo_basket">
                        </div>
                        
                        <div class="header-inner__basket cart__text">
                            <span>Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </head>
    <main>
        <div class="main-inner">
            <div class="main-inner__backgroud-image">
                <img src="./img/bg-coffe-main.png" alt="backgroud IMG">
            </div>
            <div class="container">

            </div>
        </div>
    </main>
</body>
</html>